<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) - %clr([%15.15t]){faint} %clr(SID:%X{SID} rid:%X{rid}){blue} - %clr(%-40.40logger{39}){cyan} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Умолчательный (корневой) уровень логирования и аппендер -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- ================================== Прикладные логгеры (от бизнес-логики) ================================ -->
    <logger name="ru.ftc.pc.testing" level="TRACE"/>

    <!-- ===================================== Системные логгеры (от библиотек) ================================== -->
    <logger name="org.springframework.jdbc.core" level="DEBUG"/>                <!-- Параметры SQL-запросов -->

</configuration>